*, @font-face  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: @import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
}    

html, body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(245, 199, 48)
    };

:root{
    --main-color: #f8818b;
    --secondary-color: #c381f8;
}


